accelerate
asyncio
backports.tarfile
brotli
configobj
configparser
crewai-tools
discord
discord-py
flask-cors
flitz
fqdn
google-cloud-aiplatform
google-cloud-vision
google-genai
google-generativeai
grpcio-status
gunicorn
h2
httptools
image
imageio
imageio-ffmpeg
isoduration
jaraco.collections
langchain-google-genai
markdown2
mpld3
mysql-connector-python
nipype
pdfkit
pdfminer-six
pip-chill
pipreqs
playwright
plotly
plyer
pygame
pygithub
pylance
pymupdf
pysocks
pytesseract
pyxnat
schedule
scikit-learn
selenium
sentencepiece
streamlit
transformers
uri-template
vpython
watchfiles
weasyprint
webcolors
webdriver-manager
xhtml2pdf
yolov5
zopfli
